<!DOCTYPE html>
<html ng-app="landingPage">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//cdn.optimizely.com/js/2122921733.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:title" content="Online Personlig Trener" />
    <title>Online Personlig Trener &ndash; online-pt.no</title>
    <meta property="og:url" content="http://online-pt.no" />
    <meta name="description" content="Online Personlig Trener gir deg en erfaren personlig trener, treningsplan, kostholdsveiledning og oppfølging, alt i en løsning. Bli din egen superhelt! Start nå!">
</head>

<body ng-controller="landingPageCtrl" ng-init="init()">
    <div class="page-container">

        <div class="title-slide img-responsive">
            <div class="row">
                <div class="opt-navbar col-md-12">
                    <div class="opt-navbar-section">
                        <img src="app/img/SaEx_logo_white_mobil.png" class="navbar-logo opt-navbar-element"/>
                    </div>
                    <div class="opt-navbar-section menu">
                        <div class="opt-navbar-element">
                            <a href="" ng-click="goToElement('pts')">Registrer deg</a>
                        </div>
                        <div class="opt-navbar-element" >
                            <a ng-click="goToLogIn()" href="">Logg inn</a>
                        </div>
                        <div class="opt-navbar-element" >
                            <a href="" ng-click="goToElement('faq')">Ofte Stilte Spørsmål</a>
                        </div>
                        <div class="opt-navbar-element" >
                            <a href="" ng-click="goToElement('pts')">Våre Trenere</a>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row background-opacity">
                <div class="col-md-11 col-md-offset-1">
                    <h1 class="site-title">Level up!</h1>
                    <h2 class="site-title">Kosthold og trening som gir resultater.</h2>
                    <p class="credits">
                        Foto: <a href="https://www.flickr.com/photos/andymoss461/15475057366">Andy Moss</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="fade-slide">
            <div class="col-md-12">
                <span>Jeg vil...</span>
            </div>
            <div class="col-md-12">
                <span id="rotate">
                    <span>gå ned i vekt.</span>
                    <span>bli sterkere.</span>
                    <span>slå sjefen på Birken.</span>
                    <span>ha #sommerkroppen 2015.</span>
                    <span>bygge muskler.</span>
                    <span>få plass i bryllupskjolen.</span>
                </span>
            </div>
        </div>

        <div class="slide black-area">
            <div class="row">
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                    <p class="text-intro">
                        Ingenting kommer gratis! Du må jobbe målrettet og fokusere på de små forbedringene fra uke til uke.
                    </p>

                    <p class="text-intro">
                        Det er dette Level Up hjelper deg med. Her får du verktøyene og oppfølgingen du trenger hele veien til mål.
                    </p>

                    <button id="btn-black-top" type="button" class="text-proxima-light btn btn-default btn-lg section-cta" ng-click="goToElement('pts')">Kom i gang og velg din trener</button>
                    <p id="padding-price">Kun 795,- i måneden uten bindingstid
                    <br>30 dagers penger tilbake garanti</p>

                </div>

                <div class="col-xs-12 col-md-5">

                    <p class="text-1st-slide">Level Up er en nettplattform hvor du får alle verktøyene for å nå målene dine. Du får:</p>

                    <ul class="text-1st-slide">
                        <li>Personlig tilpasset kostholdsveiledning</li>
                        <li>Skreddersydde treningsprogram som oppdateres etter ditt behov</li>
                        <li>Logging av trening og dine resultater</li>
                        <li>Ukentlig oppfølging av en kvalifisert personlig trener som pusher deg og holder deg motivert.</li>
                    </ul>

                    <p class="text-1st-slide">
                        Følg med på din fremgang fra milepæl til milepæl, og se de første målbare resultatene allerede etter få uker. Du og din trener setter sammen konkrete mål som dere skal jobbe mot.
                    </p>

                    <p class="text-1st-slide">Alt er tilpasset de resultatene <i>du</i> er ute etter.</p>

                </div>
            </div>
        </div>

        <div class="container-fluid white-area" id="second-layer">
            <div class="padding-area">
                <div class="row section-header">
                    <div class="col-xs-12">
                        <h2 class="centered">Alt du trenger for å komme deg dit</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h3>Kostholdsplan</h3>
                        <p class="text-1st-slide">For å nå dine mål er det viktig å spise sunt, men også rett for deg og din hverdag. I Level Up får du en detaljert kostholdsplan fra din trener som er personlig tilpasset dine mål og din trening.</p> 

                        <p class="text-1st-slide">Dette kan være alt fra oppskrifter på sunne måltider for hele familien, ned til detaljerte planer med antall gram og kalorier. Vi leverer det du trenger! </p>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <h3>Treningsprogram</h3>
                        <p class="text-1st-slide">Du får et treningsprogram som er designet for akkurat deg. Din trener vil lage økter som passer din travle hverdag, tilpasset ditt nivå uansett om du aldri har trent før eller allerede trener mye. </p>
                        <p class="text-1st-slide">Din treningsplan vil fokusere på at du skal nå ditt mål, og har ukesplaner med økter som er spisset etter dine behov.<p>
                   </div>
                    <div class="col-md-4 col-xs-12">
                        <h3>Resultater</h3>
                        <p class="text-1st-slide">Hold oversikt over din trening og din fremgang. Logg dine treningsøkter, sett deg mål og registrer din fremgang.</p>

                        <p class="text-1st-slide"> Se hvordan treningsresultatene blir bedre eller vekten går ned. Ved å ukentlig registrere dine resultater kan du hele tiden følge med på hvordan du utvikler deg og hvor langt det er igjen til mål. </p>
                   </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <button ng-click="goToElement('pts')" id="btn-white" type="button" class="btn btn-default btn-lg text-proxima-light">Kom i gang og velg din trener</button>
                        <p id="padding-price">Kun 795,- i måneden uten bindingstid
                        <br>30 dagers penger tilbake garanti</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid black-area" id="pts">
            <div class="padding-area">
                <div class="row section-header">
                    <div class="col-xs-12">
                        <h2 class="centered">Din trener</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-12 col-md-offset-1">
                        <p class="text-1st-slide">Vi har mange dyktige trenenere som er kvalifiserte innen ulike spesialfelt. Du velger den treneren som passer for deg, som kan hjelpe deg på veien mot ditt mål og er god på det du liker å trene.</p>

                        <p class="text-1st-slide"> Din trener vil hjelpe deg å sette konkrete mål og holde deg motivert gjennom ukentlig oppfølging. Planene dine vil alltid holdes oppdatert slik at du får maksimalt utbytte og fremgang av den innsatsen du legger inn. 
                        </p>
                    </div>

                    <div class="col-md-5 col-xs-12">
                        <button id="btn-black-top" type="button" class="text-proxima-light btn btn-default btn-lg" ng-click="openRandomPtModal()">Velg din trener nå</button>
                        <div class="margin-black">
                            <p>Kun 795,- i måneden uten bindingstid
                            <br> 30 dagers penger tilbake garanti</p>
                        </div>
                    </div>
                </div>
                <div class="row trainer-thumbs" id="third-layer">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div ng-repeat="pt in pts">
                            <div ng-click="openPtModal($index)">
                                <div class="thumbnail col-md-2 col-xs-4">
                                    <img ng-src="{{pt.image}}" class="pt-thumbnail">
                                    <div ng-show="!pt.PTid" class="booked ">
                                        <div id="fullbooked">
                                            <p class="p-fullbooked"> fullbooket </p>
                                        </div>
                                    </div>
                                    </img>
                                    <div class="caption text-1st-slide">
                                        {{pt.name.split(" ")[0]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid light-blue">
            <div class="row">
                <div class="col-xs-12">
                    <p class="sales-argument-text centered">Spis rett. Tren rett. Level Up!</p>
                </div>
            </div>
        </div>

        <div class="container-fluid white-area">
            <div class="padding-area">
            <div class="row section-header">
                <div class="col-md-12">
                    <h2 class="centered">Om tjenesten</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <h3 class="faq-question">Nettløsning:</h3>
                    <p class="faq-answer">
                        Level UP er en webplattform tilgjengelig på PC, nettbrett og mobil uansett hvor du er i verden. Via din profil vil din personlige trener gi deg treningsprogram, kostholdsplaner og oppfølging på din fremgang online.
                    </p>
                    <h3 class="faq-question">Du får:</h3>
                    <p class="faq-answer">
                        En erfaren personlig trener som følger deg opp gjennom Level UP og tilpasser et personlig trenings- og kostholdsopplegg for deg og ditt mål:
                    </p>
                    <ul class="faq-answer">
                        <li>Tren på en måte som passer deg og din kalender med ditt eget treningsprogram </li>
                        <li>Spis rett mat for deg og din hverdag. Det er enkelt å lage sunn mat, og ja, du kan spise deg mett til hvert måltid med god samvittighet</li>
                        <li>Få hjelp til å sette gode og realistiske mål som gjør det lett å se fremgang og holde motivasjonen oppe </li>
                        <li>Logg din trening og se resultatene! </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <img src="app/img/screenshot_1.png" class="screenshot">
                </div>
            </div>

            <div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <h3 class="faq-question">Registrering og oppstart:</h3>
                    <ul class="faq-answer">
                        <li>Opprett en profil via våre nettsider og utifra ditt mål finner vi trenere som passer deg.</li>
                        <li>Velg din trener og fyll inn informasjon om deg, dine trenings og kostholdsvaner, og hvilke mål du har, slik at din trener kan lage et program til akkurat deg</li>
                        <li>Motta treningsplaner og kostholdsprogram som er tilpasset deg og dine målsetninger</li>
                        <li>Logg din trening og følg med på dine resultater og fremgang</li>
                        <li>Din trener følger deg opp ukentlig inne i løsningen via meldinger og holder planene dine oppdatert etterhvert som du utvikler deg</li>
                        <li>Du kan stille spørsmål, få tips og råd, og din trener vil veilede deg hele veien.</li>
                    </ul>
                </div>
            </div>
            </div>
        </div>

        <div class="container-fluid pistachio-area" id="faq">
            <div class="padding-area">
                <div class="row section-header">
                    <div class="col-md-12">
                        <h2 class="centered">Ofte Stilte Spørsmål</h2>
                    </div>
                </div>
                <div class="row">
                    <div id="buttom-padding">
                        <div class="col-md-5 col-md-offset-1 faq-column">
                            <h3 class="faq-question">Er jeg låst til én personlig trener?</h3>
                            <p class="faq-answer">Du kan bytte trener når som helst, uansett hva grunnen måtte være.</p>

                            <h3 class="faq-question">Hva koster det?</h3>
                            <p class="faq-answer">
                                Level up koster 795,- i måneden helt uten bindingstid. Dersom du binder deg til 3 måneder får du Level UP for 700,- i måneden, og dersom du binder deg til 6 måneder koster det kun 650,- per måned. Summen for antallet måneder du binder deg til blir trukket ved registrering, deretter blir prisen per måned trukket månedlig.
                            </p>
                            <h3 class="faq-question">Har du andre spørsmål?</h3>
                            <p class="faq-answer">Kontakt oss på <a href="mailto:online-pt.no">online-pt@iterate.no</a>
                            </p>
                        </div>
                        
                        <div class="col-md-5">
                            <h3 class="faq-question">Hva skjer når jeg har registrert meg?</h3>
                            <p class="faq-answer">Etter registrering får du mulighet til å fortelle din personlige trener om deg selv og dine mål. Din personlige trener bruker så denne informasjonen til å skreddersy et trenings- og kostholdsopplegg for deg og din hverdag. Du kommer til å bli fulgt opp ukentlig av din personlige trener. Sammen kan dere følge med på din fremgang, og kontinuerlig justere planene dine og sette nye treningsmål.</p>

                            <h3 class="faq-question">Hva om jeg vil prøve Level up, men ikke er helt sikker?</h3>
                            <p class="faq-answer">Alle får en prøveperiode på 30 dager. Hvis du ikke er fornøyd, så får du pengene tilbake. Det er bare å sende oss en e-post, så ordner vi resten.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="rotaterator.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="app/js/landing_page_controller.js"></script>
<script type="text/javascript" src="app/modal/pt_modal_controller.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="app/style/style.css" media="screen" />

<script src="//use.typekit.net/whc6xho.js"></script>

<script>
try {
    Typekit.load();
} catch (e) {}
</script>

<script type="text/javascript">
(function(f, b) {
    if (!b.__SV) {
        var a, e, i, g;
        window.mixpanel = b;
        b._i = [];
        b.init = function(a, e, d) {
            function f(b, h) {
                var a = h.split(".");
                2 == a.length && (b = b[a[0]], h = a[1]);
                b[h] = function() {
                    b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }
            var c = b;
            "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
            c.people = c.people || [];
            c.toString = function(b) {
                var a = "mixpanel";
                "mixpanel" !== d && (a += "." + d);
                b || (a += " (stub)");
                return a
            };
            c.people.toString = function() {
                return c.toString(1) + ".people (stub)"
            };
            i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
            for (g = 0; g < i.length; g++) f(c, i[g]);
            b._i.push([a, e, d])
        };
        b.__SV = 1.2;
        a = f.createElement("script");
        a.type = "text/javascript";
        a.async = !0;
        a.src = "//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";
        e = f.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(a, e)
    }
})(document, window.mixpanel || []);
mixpanel.init("d325adcd90c5f742de498c77f127a9c0");
</script>

</html>
