<!DOCTYPE html>
<html ng-app="landingPage">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="//cdn.optimizely.com/js/2122921733.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Online Personlig Trener &ndash; online-pt.no</title>
</head>

<body ng-controller="landingPageCtrl" ng-init="init()">
    <div class="page-container">
        <div class="img-container">
            <div class="background-image img-responsive">
                <div class="row">
                    <div class="col-xs-12">
                        <img id="logo" src="app/img/SaEx_logo_white_tablet.png" />
                        <!--                         <p class="text-proxima-semibold" id="log-in"> <u>Logg inn </u> 
                        </p> -->
                        <div class="background-opacity col-md-8">
                            <h1 class="text-proxima-light" id="opt-header">Online Personlig Trener</h1>
                            <h2 class="text-proxima-light" id="opt-sub-header">Bli din egen superhelt.</h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="angle-down-grey">
                        <i class="fa fa-angle-down fa-3x  faa-bounce animated"></i>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid black-area">
            <div class="row">
                <div class="col-md-6 col-xs-12 padding text-proxima-light">
                    <h3>Din egen skreddersydde trenings- og kostholdsplan</h3>
                    <h3>Din personlige trener oppdaterer planer og utfordrer deg i takt med din fremgang</h3>
                    <h3>Du blir fulgt opp på treningsplaner, teknikk og motivasjon</h3>
                </div>
                <div class="col-md-6 col-xs-12 align-text">
                    <div class="row black-row">
                        <button id="btn-black-top" type="button" class="text-proxima-semibold btn btn-default btn-lg" ng-click="choosePT()">Meld deg på her</button>
                        <div class="margin-black">
                            <p class="text-proxima-semibold ">Kun 795,- i måneden uten bindingstid</p>
                            <p class="text-proxima-semibold">30 dagers penger tilbake garanti</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid orange-area" id="second-layer">
            <div class="padding-area">
                <div class="row">
                    <div class="col-xs-12">
                        <img id="orange-picture" class="col-md-6 col-xs-12 " src="app/img/screenie-chat.svg" alt="Screen chat">
                        <div class="row">
                            <div class="orange-padding">
                                <h2 class="col-md-6 col-xs-12 text-proxima-light top-text">Tett på</h2>
                                <div class="col-md-6 col-xs-12 text-proxima-light">
                                    <h3 class="second-font-size">En personlig trener som følger deg opp</h3>
                                    <h3 class="second-font-size">Send og motta meldinger</h3>
                                    <h3 class="second-font-size">Få tilbakemeldinger fra din personlige trener</h3>
                                    <button ng-click="choosePT()" id="btn-orange" type="button" class="btn btn-default btn-lg">Meld deg på her</button>
                                    <p class="text-proxima-semibold" id="padding-price">Kun 795,- i måneden uten bindingstid</p>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-xs-12">
                    <div id="angle-down-white">
                        <i class="fa fa-angle-down fa-3x  faa-bounce animated"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid light-blue">
            <p class="sales-argument-text">Til prisen av én ordinær PT-time får du nå oppfølging en hel måned. <u ng-click="anchor()" class="call-to-action"> Start nå! </u> 
            </p>
        </div>

        <div class="container-fluid white-area">
            <div class="padding-area">
                <div class="row row-padding">
                    <div class="col-xs-12">
                        <img class="col-md-6 col-xs-12" src="app/img/screenie-plan.svg" alt="Screen plan">
                        <div class="col-md-6 col-xs-12 text-proxima-light">
                            <h2 class="top-text">Personlig</h2>
                            <p class="second-font-size">Tilpasset treningsprogram</p>
                            <p class="second-font-size">Løpende kostholdsråd</p>
                            <p class="second-font-size">Allitd oppdatert</p>
                            <button ng-click="choosePT()" id="btn-white" type="button" class="btn btn-default btn-lg">Meld deg på her</button>
                            <p class="text-proxima-semibold" id="padding-price">Kun 795,- i måneden uten bindingstid</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid pistachio-area">
            <p class="sales-argument-text">Bli en bedre utgave av deg selv for prisen av en kopp kaffe om dagen . <u ng-click="anchor()">Kom i gang nå! </u> 
            </p>
        </div>

        <div class="container-fluid black-area" id="third-layer">
            <div class="padding-area">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div ng-repeat="pt in slides">
                            <div ng-click="showModals(pt)">
                                <pt-modal ng-show="showModal" pt="pt"></pt-modal>
                                <div class="thumbnail col-md-4 col-xs-4">
                                    <img src="{{pt.image}}" alt="PT picture">
                                    <div ng-show="!pt.id" class="booked ">
                                    <p class="text-proxima-semibold" id="fullbooked">Fullbooket </p></div>
                                    </img>
                                    <div class="caption">
                                        {{pt.name.split(" ")[0]}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12 text-proxima-light">
                            <h2 class="top-text">Faglig sterk</h2>
                            <p class="second-font-size">Våre personlige trenere jobber hardt for at du skal nå dine målsetninger</p>
                            <p class="second-font-size">Finn din match</p>


                            <button ng-click="choosePT()" id="btn-black-buttom" type="button" class="btn btn-default btn-lg">Meld deg på her</button>

                            <div class="margin-black">
                                <p class="text-proxima-semibold">Kun 795,- i måneden uten bindingstid</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid orange-area">
            <div class="padding-area">
                <div class="col-xs-12">
                    <h2 id="buttom-padding" class="text-proxima-light second-font-size">Kr 795,- i måneden
                        <br>Ingen bindingstid
                        <br>30 dagers penger tilbake garanti
                        <br>14 dagers angrerett
                        <br>Bytt PT hvis du ikke er fornøyd
                    </h2>

                </div>
            </div>
        </div>
    </div>
    </div>


</body>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="app/style/style.css" media="screen" />
<link rel="stylesheet" href="app/style/bounce.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script type="text/javascript" src="app/js/script.js"></script>
<script type="text/javascript" src="app/js/ui-bootstrap.js"></script>
<script type="text/javascript" src="app/js/angular-resource.js"></script>
<script type="text/javascript" src="app/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="app/directive/modal.js"></script>
<script src="//use.typekit.net/whc6xho.js"></script>
<script src="//cdn.optimizely.com/js/796180544.js"></script>

<script>
try {
    Typekit.load();
} catch (e) {}
</script>

<script type="text/javascript">
(function(f, b) {
    if (!b.__SV) {
        var a, e, i, g;
        window.mixpanel = b;
        b._i = [];
        b.init = function(a, e, d) {
            function f(b, h) {
                var a = h.split(".");
                2 == a.length && (b = b[a[0]], h = a[1]);
                b[h] = function() {
                    b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }
            var c = b;
            "undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel";
            c.people = c.people || [];
            c.toString = function(b) {
                var a = "mixpanel";
                "mixpanel" !== d && (a += "." + d);
                b || (a += " (stub)");
                return a
            };
            c.people.toString = function() {
                return c.toString(1) + ".people (stub)"
            };
            i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
            for (g = 0; g < i.length; g++) f(c, i[g]);
            b._i.push([a, e, d])
        };
        b.__SV = 1.2;
        a = f.createElement("script");
        a.type = "text/javascript";
        a.async = !0;
        a.src = "//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";
        e = f.getElementsByTagName("script")[0];
        e.parentNode.insertBefore(a, e)
    }
})(document, window.mixpanel || []);
mixpanel.init("d325adcd90c5f742de498c77f127a9c0");
</script>


</html>
