<div class="modal-header row modal-element">
	<div class="col-md-12">
		<h3 class="modal-title">{{currentPT.name}}</h3>
	</div>
</div>
<div class="modal-body row modal-element">
	<div class="col-md-12">
		<div class="col-md-4"></div>
    	<div class="col-md-8" ng-include="currentPT.path"></div>
	</div>
</div>
<div class="modal-footer row modal-element">
	<div class="col-md-12">
		<button class="btn-lg btn-white-modal" ng-click="cancel()">Back</button>
    	<button class="btn-lg btn-white-modal" ng-click="ok()">OK</button>
	</div>	
</div>