<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ladningpage Online-PT</title>
</head>

<body ng-controller="CarouselDemoCtrl">
    <div class="layer-container col-lg-12">
        <div id="background">
            <div class="text-center">
                <div id="logo">
                <h2 id="second-logo">Online Personlig Trener</h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <h2 class="text" id="padding-text-first">V&aring;re beste  personlige trenere er n&aring; tilgjengelig online. Du kan trene n&aring;r og hvor du vil men med tett oppf&oslash;lging fra din egen trenings ekspert. 
                            </h2>
<!--                            <h3 id="padding-text-second">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                            </h3> -->
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="showTwoSlides" class="text-center" id="hero-btn">
                <button class="btn-choose-trainer">
                    <div id="hero-btn-text">Velg din personlig trener</div>
                </button>
            </div>
            <div class="btn" ng-hide="showTwoSlides">
                <div id="inner-text">Dette f&aring;r du <i class="fa fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="layer-container col-xs-12" id="second-layer">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="header-text second-layer-heading">
                    Personlig</h1>
                <h3 class="text second-layer-text">Din trener vil lage ditt personlig kosthold- og treningsprogram som er tilpasset deg og dine m&aring;lsettinger. Jevnlige oppdateringer s&oslash;rger for at du til enhver tid har et program som passer ditt behov og din hverdag.
                </h3>
            </div>
            <div class="col-xs-6">
                <h1 class="header-text second-layer-heading">
                    Tett p&aring;</h1>
                <h3 class="text second-layer-text" id="pay-one-price">Gjennomf&oslash;ringen av treningen m&aring; du selv st&aring; for, men din personlige trener vil v&aelig;re tilgjengelig og f&oslash;lge deg opp l&oslash;pende med f&aring; dagers mellomrom. Jevnlig dialog med din personlige trener vil sikre at du har progresjon og det rette fokus til enhver tid.
                </h3>
            </div>
            <div class="col-xs-6">
                <h1 class="header-text second-layer-heading">
                    Faglig sterk</h1>

                <h3 class="text second-layer-text" id="last-second-layer-text">Din trener vil dele av sin kunnskap og hjelpe deg med &aring; sette gode m&aring;l som passer ditt niv&aring; og dine ambisjoner b&aring;de n&aring;r det gjelder kosthold og trening.

                </h3>
            </div>
            <div class="col-xs-6" id="price-color">
                <div class="price">
                    <div class="text-center money-box">
                        <span id="current-price">kr 995</span>
                        <span id="month">/ m&aring;ned</span>

                        <h4 class="text-center">Abonnement er uten bindingstid</h4>
                    </div>
                    <div class="text-center" id="padding">
                        <button class="btn-choose-trainer">
                            <div id="inner-text-choose-trainer">Velg din PT her
                            </div>

                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="quotes col-xs-12" style="border-bottom: 5px solid #ababab;">
        <h3>onec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</h3>
        <p id="feedback-text">- Ola Nordmann</p>
    </div>
    <div class="col-xs-12" id="our-coach-background">
        <p id="our-coach">V&aring;re trenere</p>
        <div class="text-center">
            <div class="col-xs-12" id="carousel-start"></div>
        </div>
    </div>
    <div class="col-xs-12"  id="carousel-background">
        <carousel class="slides">
            <slide ng-repeat="slide in slides" active="slide.active">
                <div>
                    <img ng-src="{{slide.image}}" ng-class="imgClass()">
                    <img ng-show="showTwoSlides" class="two-slides" ng-src="{{getNextActiveSlide().image}}">
                </div>
            </slide>
        </carousel>


        <div ng-class="imgClass()">
            <div id="carousel-index">{{getActiveSlide().number}} av {{slides.length}}</div>
            <div id="pt-name">{{getActiveSlide().name}}</div>
            <div class="text second-layer-text" id="pt-text">{{getActiveSlide().text}}</div>
            <div class="center">
                <Button ng-click="login()" class="btn-choose-trainer">
                    <div id="inner-text-train-btn">Tren med {{getActiveSlide().name.split(" ")[0]}}</div>
                </Button>
            </div>
        </div>

        <div class="two-slides" ng-show="showTwoSlides">
            <div id="carousel-index">{{getNextActiveSlide().number}} av {{slides.length}}</div>
            <div id="pt-name">{{getNextActiveSlide().name}}</div>
            <div class="text second-layer-text" id="pt-text">{{getNextActiveSlide().text}}</div>
            <div class="center">

                <Button ng-click="login()" class="btn-choose-trainer">
                    <div id="inner-text-train-btn">Tren med {{getNextActiveSlide().name.split(" ")[0]}}</div>
                </Button>
            </div>
        </div>
        <div class="col-xs-12" id="fb-padding">
            <h3 class="text second-layer-text">
            </h3>
            <div class="center">
                <p id="fb-info">Online Personlig Trener krever en facebook konto i pilotfasen. Vi kommer aldri til &aring; poste p&aring; din profile eller lese data</p>
            </div>
        </div>


    </div>
    <div class="contact col-xs-12 " id="contact-text">
        <div class="col-xs-6">
            <h3 id="contact-us">Kontakt oss</h3>
            <i class="fa fa-envelope fa-2x contact-info"> online-pt@iterate.no</i>
            <br>
            <i class="fa fa-mobile fa-2x contact-info"> 99 27 10 36 </i>
        </div>
        <div class="col-xs-6">
            <p id="contact-footer">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        </div>
    </div>
</body>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="style/style.css" media="screen" />
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/angular-resource.js"></script>
<script src="//use.typekit.net/whc6xho.js"></script>
<script>
try {
    Typekit.load();
} catch (e) {}
</script>

</html>
