<script type="text/ng-template" id="myModalContent.html">

    <div ng-hide="{{randomPT}}">
        <h2 class="modal-title align-text text-proxima-light" id="header-modal">{{currentPT.name.split(" ")[0]}}</h2>
        <div class="container-fluid">
            <img class="col-md-4" id="img-center" src="{{currentPT.image}}" alt="PT picture">
            <div class="col-md-8">
                <div ng-include src="currentPT.path"></div>
            </div>
            <div id="right">
                <button id="btn-modal" ng-click="cancel()"> <u> Lukk </u> 
                </button>
                <button id="btn-white-modal" class="btn-lg" ng-click="redirect(currentPT)">Tren med {{currentPT.name.split(" ")[0]}}</button>

            </div>
        </div>
    </div>


    <div ng-show="{{randomPT}}">
        <h4 class="modal-title align-text text-proxima-light" id="header-modal">Du har valgt {{currentPT.name}} som din personlige trener</h4>
        <h4 id="change-pt">Du kan endre ved å trykke på Endre PT knappen, og deretter trykke på et av PT bildene</h4>

        <div class="container-fluid">
            <img id="img-center" src="{{currentPT.image}}" alt="PT picture">

            <div class="col-md-8">
                <div ng-include src="currentPT.path"></div>
            </div>
            <div id="random-pt-right">
                <button id="btn-modal" ng-click="cancel()"> <u> Endre PT </u> 
                </button>
                <button id="btn-white-modal" class="btn-lg" ng-click="redirect(currentPT)">Tren med {{currentPT.name.split(" ")[0]}}</button>
            </div>
        </div>
    </div>
</script>

<!-- <button class="btn btn-default" ng-click="open()">Open me!</button>
<button class="btn btn-default" ng-click="open('lg')">Large modal</button>
<button class="btn btn-default" ng-click="open('sm')">Small modal</button>
<div ng-show="selected">Selection from a modal: {{ selected }}</div> -->
