body {
    background-color: #efefef;
}
#logo {
    padding-top: 15px;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 15px;
}
#second-logo {
    font-family: proxima-nova, sans-serif;
    font-size: 20px;
    line: 130%;
    color: white;
    box-shadow: 1px 1px 4px #000000 0, 0, 0;
    top: -120px;
    position: relative;
}
#slides_control > div {
    height: 200px;
}
#logo {
    top: -130px;
    position: relative;
    background: url("../img/SaEx_logo_white_tablet@2x.png") center;
    background-repeat: no-repeat;
}
#slides_control {
    position: absolute;
    width: 400px;
    left: 50%;
    top: 20px;
    margin-left: -200px;
}
#last-second-layer-text {
    padding-bottom: 30px;
    
}
#background {
    background: url("../img/hero_image.jpg") center;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 1px;
}
.second-layer {
    background-color: white;
}
.text {
    font-family: proxima-nova, sans-serif;
    color: white;
    padding: 0px 20px 0px 20px;
    margin: 0px;
}
#padding-text-first {
    padding-top: 45%;
    padding-bottom: 20px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 26px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: "proxima-nova-n6", "proxima-nova", sans-serif;
    font-weight: 600;
}
#padding-text-second {
    padding-bottom: 23px;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    padding: 0px 20px 25px 20px;
    font-family: 'ProximaNova-Light';
}
#fb-info {
    padding: 0px 20px 20px 20px;
    font-style: italic;
    font-family: Arial;
    font-size: 10px;
}
.train-btn {
    color: white;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    height: 52px;
    background: #4B186C;
    padding: 0px;
}
.train-btn #inner-text-btn {
    font-size: 20px;
}
#CTA-btn {
    padding-bottom: 480px;
}
.btn {
    background-color: rgba(0, 0, 0, 0);
}
.text-center {
    text-align: center;
}
#inner-text {
    text-indent: 100%;
}
#inner-text-choose-trainer {
    font-size: 16px;
    white-space: nowrap;
    font-family: arial;
}
.header-text {
    text-align: center;
    color: #222222;
}

.header-text i{
  margin-right: 3px;
}
.money-box {
    font-family: 'proxima-nova';
    font-weight: 300;
}
#our-coach-background {
    background-color: #FFFFFF;
}
.contact .fa {
    color: #FFFFFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 9px;
}
.second-layer-heading {
    padding-bottom: 10px;
    font-size: 18px;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.second-layer-text {
    color: #222222;
    font-family: arial;
    font-size: 14px;
    line-height: 1.2em;
}
#fb-padding {
    padding-top: 25px;
}
#carousel-index {
    text-align: center;
    font-size: 14px;
    font-family: bold arial;
    color: #979797;
}
#our-coach {
    font-family: 'proxima-nova';
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    text-transform: uppercase;
}
.price {
    color: #222222;
    line: 100%;
    font-family: 'proxima-nova';
    font-weight: 300;
    padding-bottom: 10px;
}
.price h1 {
    padding-left: 48px;
}
.price #month {
    text-align: right;
    padding-right: 47px;
    font-size: 18px;
    font-family: 'proxima-nova';
    font-weight: 300;
}
.btn-choose-trainer {
    border: 2px solid #4B186C;
    width: 50%;
    font-size: 14px;
    text-align: center;
    background-color: #4B186C;
    outline: 0;
    color: white;
    height: 47px;
    border-radius: 4px;
}
#hero-btn {
    padding-bottom: 60px;
}
#hero-btn-text {
    font-family: arial;
    text-transform: uppercase;
}
.price #padding {
    padding-bottom: 10px;
}
.price #current-price {
    font-size: 50px;
    text-align: center;
    padding: 0px 0px 0px 25px;
}
.layer-container {
    background: #FFFFFF;
    border-bottom: 1px solid #ababab;
    padding: 10px 0px 0px 0px;
}
.center {
    text-align: center;
}
.slides {
    margin: 0px;
    padding: 0px;
}
.slides img {
    width: 100%;
}
.slides .item {
    padding: 0px;
}
.two-slides {
    float: left;
    width: 50% !important;
}
.one-slide {
    width: 100%;
}
.quotes {
    font-family: Georgia;
    font-style: italic;
    font-size: 16;
    padding: 0 0 57px 30px;
    background-color: #EFEFEF;
}
#contact-us {
    padding-left: 12px;
    padding-top: 12px;
    font-family: 'proxima-nova';
    font-weight: 600;
}
#contact-text {
    color: white;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
}
.contact {
    text-align: left;
    background-color: #222222;
    padding-left: 10px;
}
#pt-name {
    font-family: bold Arial;
    font-size: 20px;
    text-align: center;
    color: black;
}
#pt-text {
    font-family: Arial;
    font-size: 14px;
    min-height: 200px;
}
.glyphicon {
    font-size: 2.5em;
}
#inner-text-train-btn {
    font-size: 16px;
    font-family: Arial;
}
#feedback-text {
    text-align: right;
    padding-right: 20px;
}
.contact-info {
    font-size: 16px;
}
#contact-footer {
    font-family: Arial;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 50px;
}
#price-color {
    background-color: rgba(231, 236, 243, 100);
}
#carousel-start {
    border-bottom: 1px solid #d8d8d8;
}
.carousel-indicators {
    display: none;
}
#pay-one-price {
    padding-bottom: 20px;
}
#carousel-background {
    padding-top: 10px;
    background-color: #FFFFFF;
}
@media (max-width: 600px) {
    .layer-container {
        width: 100%;
    }
    #background {
        background: url("../img/hero_image.jpg");
        background-repeat: no-repeat;
        width: 100%;
        margin-top: -20px;
        -webkit-background-size: cover !important;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .btn {
        background-color: rgba(75, 24, 108, 0.6);
        color: white;
        width: 100%;
    }
    .btn #inner-text {
        font-family: proxima-nova, sans-serif;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        text-indent: 0%;
    }
    .col-xs-6 {
        width: 100%;
    }
}
@media (min-width: 600px) {
    #background {
        background: url("../img/hero_tablet.jpg") center;
        padding-top: 150px;
        background-repeat: no-repeat;
    }
}
