#grey-transparent {
    background-color: grey;
}
.page-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.img-container {
    position: relative;
    left: 0;
    top: 0;
}
#background-image {
    position: relative;
    top: 0;
    left: 0;
}
#logo {
    position: absolute;
    top: 30px;
    left: 70px;
}
.orange-area {
    background-color: orange;
    color: white;
}
.call-to-action {
    color: orange;
}
.align-text {
    text-align: center;
}
#second-logo {
    font-family: proxima-nova, sans-serif;
    line: 130%;
    color: white;
    box-shadow: 1px 1px 4px #000000 0, 0, 0;
    position: absolute;
    top: 75%;
    left: 70px;
}
#angle-down-white {
    text-align: center;
    color: white;
}
#angle-down-black {
    text-align: center;
    color: black;
}
#angle-down-grey {
    text-align: center;
    color: grey;
    position: absolute;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.yellow {
    background-color: yellow;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
.black {
    background-color: black;
    color: white;
}
#btn-orange {
    border-color: white;
    background-color: orange;
    border: 3px solid white;
    color: white;
    margin-top: 120px;
}
#btn-white {
    border-color: white;
    background-color: white;
    border: 3px solid black;
    color: black;
    margin-top: 120px;
}
#btn-black {
    border-color: white;
    background-color: black;
    border: 3px solid white;
    color: white;
    margin-top: 120px;
}
.padding-area {
    padding-top: 50px;
}
.thumbnail {
    box-shadow: -13px 4px 5px #888888;
}
.padding-btn {
    padding-top: 100px;
}
