body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.45;
    color: #333;
    background-color: #efefef;
}
p {
    font-family: Arial, sans-serif;
}
h1, h2, h3, h4 {
    margin-top: 0 !important;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    line-height: 1.2;
}
h1 {
    margin-bottom: 0.7em !important;
    margin-top: 0.369em;
    font-size: 3.157em;
}
h2 {
    font-size: 2.369em;
    margin-bottom: 0.8em;
}
h3 {
    font-size: 1.777em;
    margin-bottom: 1.3em;
}
h4 {
    font-size: 1.333em;
}
small, .font_small {
    font-size: 0.75em;
}
blockquote {
    font-size: 1.333em;
    font-family: "museo-slab", serif;
    font-style: italic;
    font-weight: 300;
}
a {
    border-bottom: 1px solid #1F5279;
    color: #1F5279;
    cursor: pointer;
    line-height: 1.414;
}

.screenshot {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.opt-navbar {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 45px;
  background-color: rgba(51, 51, 51, 0.75);
}

.opt-navbar-element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  color: white;
  float: right;
  margin-right: 10px;
  margin-left: 10px;
}

.navbar-logo{
    float: left;
}

.opt-navbar-element a{
  color: white;
  border: none;
}

.opt-navbar-element a:hover{
  border: none;
  background-color: inherit;
  color: #AAF0F3;
}

.slide{
    padding: 3em;
    padding-top: 6.5em;
    padding-bottom: 6.5em;
    font-family: proxima-nova;
}

.banner-slide{
    text-align: center;
}

.banner-slide button{
    margin-top: 20px;
}

.side-img{
  width: 100%;
}

.hq-img{
  width: 100%;
}

.modal-element{
  margin-left: 0;
  margin-right: 0;
}

.modal-pt-name{
  text-align: center;
}

.modal-pt-name-container{
  margin-top: 1em;
}

.previous-pt-link{
  float: left;
}

.next-pt-link{
  float: right;
}

@media(max-width: 991px){
  .side-img{
    display: none;
  }
}

@media(min-width: 992px){
  .hq-img{
    display: none;
  }
}

.faq-column{

}

.faq-question{
    margin-bottom: 0.5em;
}

.faq-answer{
    margin-bottom: 1em;
    font-size: 1.2em;
}

.disable-modal-button {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    border: 0;
    font-size: 1.333em;
    color: white;
    background-color: #777;
    margin-top: 1.414em;
    background-color: #ababab;
    margin-bottom: 1.777em;
}
a:hover {
    color: white;
    text-decoration: none;
    background-color: #1F5279;
    border-bottom: 1px solid #FFFFFF;
}
#orange-picture {
    margin-left: -15px;
    width: 100%;
}
.p-fullbooked {
    margin-bottom: -2px;
    margin-top: 2px;
}
#white-picture {
    width: 100%;
    margin-right: -15px;
}
#change-pt {
    font-style: italic;
    text-align: center;
}
#right {
    margin-left: 60%;
    padding-bottom: 15px;
}
#random-pt-right {
    margin-left: 56%;
    padding-bottom: 15px;
}
#header-modal {
    padding-top: 35px;
    padding-bottom: 31px;
    text-align: center;
}
.modal-title .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
}
#padding-price {
    margin-top: 35px;
    margin-bottom: 2.1875em;
}
#arrow-left {
    padding-top: 50px;
}
#arrow-right {
    padding-top: 50px;
    text-align: right;
}
#fullbooked {
    font-size: 1.333em;
}
.caption {
    padding: 1em;
}
.text-proxima-semibold {
    font-family: proxima-nova;
    font-weight: 600;
}
.text-proxima-light {
    font-family: proxima-nova;
    font-weight: 300 !important;
    font-size: 1.777em;
}
.text-1st-slide {
    font-family: proxima-nova;
    font-size: 1.333em;
}
.orange-padding {
    margin-left: 110px;
}
#buttom-padding {
    margin-bottom: 61px;
}
#grey-transparent {
    background-color: grey;
}
.background-opacity {
    background: rgba(51, 51, 51, 0.4);
    margin-top: 25%;
    color: #FFFFFF;
    padding-top: 1.56em;
    margin-bottom: 2.1875em;
}
.background-opacity h1 h2 {
    font-weight: 100 !important;
}
.sales-argument-text {
    font-size: 1.333em;
    font-family: "museo-slab", serif;
    font-style: italic;
    font-weight: 300;
}
.second-font-size {
    font-size: 32px;
}
#img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.page-container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.background-image {
    background: url(../img/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: -4px;
}
.background-image .row {
    margin-left: 0;
    margin-right: 0;
}
/*#logo {
    top: 13px;
    right: 635px;
    position: relative;
}*/

#log-in {
    position: absolute;
    right: 6%;
    top: 17px;
    color: white;
}
#log-in:hover {
    cursor: pointer;
}
.orange-area {
    background-color: #FF8800;
    color: white;
}
.align-text {
    text-align: center;
}
.opt {
    font-family: proxima-nova, sans-serif;
    line: 130%;
    color: white;
    box-shadow: 1px 1px 4px #000000 0, 0, 0;
    position: absolute;
}
.top-text {
    font-size: 45px;
    margin-bottom: 50px;
}
#opt-header {
    top: 75%;
    left: 70px;
}
#opt-sub-header {
    top: 85%;
    left: 70px;
    font-size: 45px;
}
#angle-down-white {
    text-align: center;
    color: #F7F7F7;
}
#angle-down-black {
    text-align: center;
    color: black;
}
#angle-down-grey {
    text-align: center;
    color: white;
    position: absolute;
    top: -30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.margin-black {
    margin-top: 35px;
}
.yellow {
    background-color: yellow;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
}
.light-blue {
    background-color: #AAF0F3;
    padding-bottom: 53px;
    padding-top: 53px;
    text-align: center;
}
#btn-orange {
    background-color: #FF8800;
    color: white;
}
.booked {
    color: white;
    position: relative;
    right: 0px;
    top: -2em;
    background-color: #FF8800;
    border-bottom: 3px solid #BF6403;
    border-radius: 3px;
    text-align: center;
    margin-bottom: -38px;
}
#btn-orange {
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    font-size: 1.25em;
    margin-top: 1.414em;
}
#btn-orange:hover {
    border-radius: 4px;
    border: 2px solid #FFB866;
    -moz-box-shadow: 0px 0px 5px 3px rgba(255, 160, 51, 0.80);
    box-shadow: 0px 0px 5px 3px rgba(255, 160, 51, 0.80);
    color: #FFE7CC;
}
#btn-white {
    border-radius: 4px;
    background-color: #F7F7F7;
    border: 2px solid #333;
    color: #333;
    font-size: 1.25em;
    margin-top: 1.414em;
}
#btn-white:hover {
    border-radius: 4px;
    border: 2px solid #FFB866;
    -moz-box-shadow: 0px 0px 5px 3px rgba(255, 160, 51, 0.30);
    box-shadow: 0px 0px 5px 3px rgba(255, 160, 51, 0.30);
    color: #888;
}
#exit-modal {
    padding: 1em;
    color: #333;
}
.btn-white-modal {
    font-family: proxima-nova, sans-serif;
    font-size: 1.333em;
    border-radius: 4px;
    margin-left: 6px;
    border-bottom: 3px solid #BF6403;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    background-color: #FF8800;
    margin-bottom: 1.777em;
    margin-top: 1.414em;
}
.btn-white-modal:hover {
    background-color: #BF6403;
}
#btn-modal {
    border: 0px solid white;
    background-color: white;
    margin-left: 10px;
    position: absolute;
    top: 0px;
    right: 4px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
}

#btn-modal:hover {
    cursor: pointer;
}
#change-pt-btn {
    margin-bottom: 40px;
    width: 41%;
}
#btn-black-top {
    border-color: white;
    background-color: #333;
    color: white;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    font-size: 1.25em;
}
#btn-black-top:hover {
    border-radius: 4px;
    background-color: #333;
    border: 2px solid #AAF0F3;
    -moz-box-shadow: 0px 0px 5px 3px rgba(169, 240, 243, 0.80);
    box-shadow: 0px 0px 5px 3px rgba(169, 240, 243, 0.80);
    font-size: 1.25em;
    color: #AAF0F3;
}
#btn-black-buttom {
    border-color: white;
    background-color: black;
    color: white;
    margin-top: 50px;
    border-radius: 4px;
    border: 3px solid #FFFFFF;
    font-size: 23px;
}
#btn-black-buttom:hover {
    border-radius: 4px;
    border: 2px solid #AAF0F3;
    -moz-box-shadow: 0px 0px 5px 3px rgba(169, 240, 243, 0.80);
    box-shadow: 0px 0px 5px 3px rgba(169, 240, 243, 0.80);
    font-size: 23px;
    color: #AAF0F3;
    line-height: 28px;
}
.padding-area {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
}
.padding-btn {
    padding-top: 100px;
}
.black-area {
    color: white;
    background-color: #333333;
}
.white-area {
    background-color: #F7F7F7;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}
.gray-area{
    background-color: #585858;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}
.pistachio-area {
    background-color: #F3FFE1;
    padding-bottom: 53px;
    padding-top: 53px;
    text-align: center;
}
.padding {
    margin-top: 3.157em;
    margin-bottom: 2.369em;
}
#description {
    margin-top: 0;
}
.trainer-thumbs {
    margin-top: 2.369em;
    margin-bottom: 2.369em;
}
.thumbnail {
    margin-right: 1.414em;
}
.thumbnail:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    
    -moz-transform: scale(1.1);
    /* Firefox */
    
    -ms-transform: scale(1.1);
    /* IE 9 */
    
    -o-transform: scale(1.1);
    /* Opera */
    
    transform: scale(1.1);
}
.pt-booked {
    border-radius: 3px;
    border-bottom: 3px solid #BF6403;
}
@media (max-width: 980px) {
    /*.text-proxima-light {
        text-align: center;
    }
    .orange-padding {
        margin-left: 0px;
    }*/
}
@media (max-width: 900px) {
    #opt-header {
        font-size: 45px;
    }
    #opt-sub-header {
        font-size: 30px;
    }
    .background-opacity {
        background: rgba(51, 51, 51, 0);
    }
    /*    .background-image {
    background: url(../img/hero-img-mobile@2x.jpg) no-repeat;
}*/
}
@media(max-width: 650px) {
    body {
        font-size: 12px;
    }
    .text-1st-slide {
        font-family: proxima-nova;
        font-size: 1.777em;
    }
    .background-image {
        background: url(../img/hero-img-mobile@2x.jpg) no-repeat right;
        background-size: 150%;
    }
    #orange-picture, #white-picture {
        padding-bottom: 3.157em;
    }
    #fullbooked {
        font-size: 15px;
    }
    .background-opacity {
        background: rgba(51, 51, 51, 0.4);
        padding-right: 101px;
        margin-top: 55%;
    }
}
@media(max-width: 470px) {
    .background-image {
        background-size: 200%;
    }
}
